Repository PJhaveri02/Are-We-There-Yet, pull requests merged in 2021-05, with the labels that each got.

#28 Backend testing (Testing backend API)
  backend/babel.config.js
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/db/trip-dao.js
  backend/src/routes/api/__tests/trips.test.js
  backend/src/routes/api/trips.js
Labels: backend, bug

#30 Delete files
  frontend/src/App.test.js
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: frontend

#32 Added functionality for creating and deleting trips
  backend/src/db/dummy-trips.js
  backend/src/db/trip-schema.js
  backend/src/routes/api/__tests/trips.test.js
  backend/src/routes/api/trips.js
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/api/crudOperations.js
  frontend/src/components/TripList/NewTripButton/index.jsx
  frontend/src/components/TripList/NewTripModal/DestinationList/index.jsx
  frontend/src/components/TripList/NewTripModal/Searchbar/index.jsx
  frontend/src/components/TripList/NewTripModal/index.jsx
  frontend/src/components/TripList/Trip/index.jsx
  frontend/src/components/TripList/TripView/index.jsx
  frontend/src/components/TripList/index.jsx
  frontend/src/components/map-visualiser/DefaultSettings.js
  frontend/src/components/map-visualiser/MapVisualiser.jsx
  frontend/src/components/map-visualiser/Slider.jsx
  frontend/src/hooks/useResources.jsx
  frontend/src/index.js
  frontend/src/pages/Homepage.jsx
  frontend/src/pages/Homepage.module.css
Labels: enhancement, frontend

#33 Readme editing
  README.md
  backend/README.md
  frontend/README.md
Labels: documentation

#35 Fix readme error
  README.md
Labels: bug, documentation

#36 Frontend test
  frontend/src/assets/endFlag.png
  frontend/src/assets/startFlag.png
  frontend/src/components/map-visualiser/Map.jsx
  frontend/src/components/map-visualiser/Slider.jsx
  frontend/src/components/map-visualiser/__tests/map.test.js
  frontend/src/components/map-visualiser/__tests/slider.test.js
  frontend/src/components/map-visualiser/dummyData.js
Labels: frontend

#38 Styling
  frontend/src/assets/images/BackgroundImage.jsx
  frontend/src/components/Navbar/Navbar.module.css
  frontend/src/components/Navbar/index.jsx
  frontend/src/components/TripList/NewTripButton/index.jsx
  frontend/src/components/TripList/NewTripModal/DestinationList/index.jsx
  frontend/src/components/TripList/NewTripModal/Searchbar/index.jsx
  frontend/src/components/TripList/NewTripModal/index.jsx
  frontend/src/components/TripList/TripView/index.jsx
  frontend/src/components/TripList/index.jsx
  frontend/src/components/signing-pages/LogoutButton.jsx
  frontend/src/pages/Homepage.jsx
  frontend/src/pages/Homepage.module.css
Labels: enhancement, frontend

#41 Final fix
  frontend/src/components/TripList/NewTripModal/index.jsx
  frontend/src/components/TripList/TripView/index.jsx
  frontend/src/components/map-visualiser/Map.jsx
Labels: bug
