Repository PJhaveri02/Are-We-There-Yet, pull requests merged in 2021-04, with the labels that each got.

#8 Sign in & Signup page
  backend/src/db/db-connect.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/sign-in/LoginPage.jsx
  frontend/src/components/sign-in/SignUp.jsx
  frontend/src/components/sign-in/UserDetail.jsx
Labels: backend, frontend

#13 Add routing
  frontend/src/App.js
Labels: frontend

#12 Implemented the Map Visualiser
  frontend/src/components/map-visualiser/DefaultSettings.js
  frontend/src/components/map-visualiser/Map.jsx
  frontend/src/components/map-visualiser/MapVisualiser.jsx
  frontend/src/components/map-visualiser/Slider.jsx
  frontend/src/components/map-visualiser/dummyData.js
Labels: enhancement, frontend

#14 Added Missing assets file
  frontend/src/App.js
  frontend/src/assets/circle2.png
Labels: bug, frontend

#15 Auth context provider
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/sign-in/LoginPage.jsx
  frontend/src/components/sign-in/SignUp.jsx
Labels: frontend

#19 Routing sign in signup
  frontend/src/App.js
  frontend/src/components/sign-in/LoginPage.jsx
  frontend/src/components/sign-in/SignUp.jsx
Labels: frontend

#21 Backend API Implemented
  backend/src/db/dummy-trips.js
  backend/src/db/trip-dao.js
  backend/src/db/trip-schema.js
  backend/src/routes/api/trips.js
Labels: backend
